<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - R.com</title>
    <link rel="stylesheet" href="static/about.css"> <!-- Link to your CSS file -->
    <link rel="icon" type="image/x-icon" href="static/3.jpg">
</head>
<body>
    <header>
        <div class="container">
            <li><h1><a href="/home">R.com</a></h1></li>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="addpostlogin">Add Post</a></li>
                    <li><a href="users">User</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>About R.com</h2>
            <p>Maker:{{p['name']}}<br>
                Phone Number:{{p['numberr']}}
                <br>
                Gmail:{{p['gmail']}}
                <br>
                GitHub:{{p['git_hub']}}
            </p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 R.com. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="login">Login</a></li>

                    <br>
                    <div class="git_hub">
                    <a href="https://github.com/TheRayhan009" target="_blank">
                        <img src="https://iili.io/JMdZjqP.jpg" alt="JMdZjqP.jpg" alt="GitHub" class="github-logo">
                    </a>

                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
