<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.com - Home</title>
    <link rel="icon" type="image/x-icon" href="static/3.jpg">
</head>
<body>
    <link rel="stylesheet" href="static/index.css">
    <header>
        <div class="container">
            <li><h1><a href="/home">R.com</a></h1></li>
            <nav>
                <ul>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="sign">Sign Up</a></li>
                    <li><a href="addpostlogin">Add Post</a></li>
                    <li><a href="users">User</a></li>
                </ul>
            </nav>
        </div>
    </header>





    <section id="hero">
        <div class="container">
            <h2>Welcome to R.com!</h2>
            <h3>This Page Is About TheRayhan PY.</h3>
            <div class="cta-buttons">
                <!-- <a href="sign" class="button">Sign Up</a>
                <a href="login" class="button">Login</a> -->
            </div>
        </div>
    </section>

    <div class="blog_h1">
        
        <h1>BLOGS</h1></div>
    <h2>Latest Blog Posts</h2>
    <div class="blog-post">
        <h3>About TheRayhan PY</h3>
        <p class="post-meta">Posted on 26th February in 2024 by About TheRayhan PY</p>
        <p>{{b['blog1']}}...</p>
        <a href="/post/post-1" class="read-more"  >Read More</a>
    </div>

    <div class="blog-post">
        <h3>About Chat GPT</h3>
        <p class="post-meta">Posted on 26th February in 2024 by TheRayhan PY</p>
        <p>{{b['blog2']}}</p>
        <a href="/post/post-2" class="read-more"  >Read More</a>
    </div>
    

    <div class="blog-post">
        <h3>About XAMPP</h3>
        <p class="post-meta">Posted on 28th February in 2024 by TheRayhan PY</p>
        <p>{{b['blog3']}}</p>
        <a href="/post/post-3" class="read-more" >Read More</a>
    </div>

    <div class="blog-post">
        <h3>About PHPMyAdmin</h3>
        <p class="post-meta">Posted on 28th February in 2024 by TheRayhan PY</p>
        <p>{{b['blog4']}}</p>
        <a href="/post/post-4" class="read-more" >Read More</a>
    </div>

    <div class="moreblog">
        <a href="blog" >More Bloge</a>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 R.com. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="blog">Blog</a></li>
                    <li><a href="login">Login</a></li>
                    <br>
                    <div class="git_hub">
                    <a href="https://github.com/TheRayhan009" target="_blank">
                        <img src="https://iili.io/JMdZjqP.jpg" alt="JMdZjqP.jpg" alt="GitHub" class="github-logo">
                    </a>
                </div>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
